// --------------------------------------------------
// Helper classes
// --------------------------------------------------

// displays
.display-block{
  display: block;
}

// opacity
.transparent{
  opacity: 0;
  pointer-events: none;
}
