.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 500px;
}

.dropzone {
  height: 200px;
  width: 200px;
  border: 2px dashed gray;

  &.active {
    border-color: green;
  }

  &.accepted {
  }

  img {
    -webkit-user-drag: none;
  }
}

.live-feed {
  margin-top: 80px;
  background: lightgray;
  // push to the button of the page
}

.live-feed-container {
  width: 55%;
  margin: 0 auto;
}

.live-feed-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  margin-top: 10px;
  width: calc(32% - 1em);
}

.product-item:nth-child(odd) {
  margin-top: 70px;
}
