.live-feed {
	// push to the button of the page
}

.live-feed-container {
	width: 55%;
	margin: 0 auto;
}

.live-feed-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product-item {

	margin-top: 10px;
	width: calc(32% - 1em);
}

.product-item:nth-child(odd) {
	margin-top: 70px;
}