.live-feed {
  margin-top: 50px;
  margin-bottom: 30px;
}

.live-feed-container {
  width: 55%;
  margin: 0 auto;
}

.live-feed-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.live-feed-item {
  margin-top: 10px;
  width: calc(32% - 1em);
}

.loader {
	text-align: center;
	font-size: 20px;
}