#site-footer{
  background-color: $footer-bg-color;
  font-size: $footer-font-size;
  font-family: $footer-font-family;
  color: $footer-color;
  line-height: 1.2;
  width: $footer-width;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;

  .headline {
    font-weight: bold;
  }

  .footer-container {
    margin: auto;
    display: flex;
    margin: 0 5em;
  }

  .footer-headline {
    padding-top: 14px;
    text-align: left;
    width: $footer-headline-width;
  }

  .footer-nav {
    text-decoration: none;
    width: $footer-nav-width;
    text-align: right;
  }

  .footer-nav li {
    display:inline;
    padding-right: 15px;
  }

  .footer-nav li a {
    text-decoration: none;
    color: rgb(68, 78, 84);
  }

  .nav-border {
    border-right: $nav-border-right;
    margin-right: 15px;
  }
}
