// ----------------- Header Styles --------------------------

#site-header-wrapper{
  background-image: url("/images/Layer 7.png");


  .container {
    width: 90%;
    margin: 0 auto;
  }

  .site-logo {
   text-align: center;
   letter-spacing: 5px;
   margin-top: 27px;
   width: 28%;
   float: left;
   font-size: 9.36px;
   font-family: "Montserrat";
   color: #a5a5a5;
   font-weight: bold;
   padding-right: 3%;
  }

  .site-logo p:first-child {
    letter-spacing: 8px;
    font-size: 14px;
    font-family: "Montserrat";
    color: #a5a5a5;
    line-height: 0;
  }


  .navigation {
    width: 72%;
    float: left;
  }

  .nav-group {
    position: relative;
    float: left;
    width: 62%;
  }

  .nav-element li {
    margin-right: 35px;
    display: inline-block;
    text-transform: uppercase;
  }

  .activiated {
    position: absolute;
    bottom: 99px;
    display: inline-block;
    margin: 0;
    border: 2px solid rgb(96, 137, 160);
    left: -4px;
    width: 62px;
 }


 .active-color {
  color: rgb(230, 237, 242) !important;
 }

  .fa-search {
    color: rgb(217, 217, 217);;
  }

  .nav-element li a {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(128, 128, 128);
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none;
   }

   .styles li {
     margin-right: 9%;
     display: inline-block;
     letter-spacing: 1px;
   }

   .styles li:nth-child(3) {
     margin-right:0;
   }

  .styles li a {
    display: inline-block;
    font-family: "Montserrat";
    color: rgb(128, 128, 128);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 10px;
    text-decoration: none;
   }

  .dropdown {
    display: inline-block;
    text-align: center;
    float: left;
    width: 38%;
  }

  .dropdown li {
     color: rgb(217, 217, 217);
     font-size: 14px;
     margin-right: 18px;
     display: inline-block;
   }

   .dropdown .needle {
     width: 25px;
     height: 22px;
    }

    .dropdown .bell {
      width: 21px;
      height: 22px;
     }

     .dropdown .basket {
       width: 20px;
       height: 21px;
      }

   .dropdown li:nth-child(4) {
      position: absolute;
      top: 15px;
   }

  .dropdown button {
    border: 0;
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
    color:white;
    width: 100px;
    height: 27px;
   }

   .dropdown button:hover {

      background-color: rgb(128, 128, 128);
   }

   .linebreak {
    border: 0.5px dashed rgb(128, 128, 128);
    width: 171%;
   }


// Clear Fix for Floats ---------
  .clearfix:before,
  .clearfix:after {
     content: "";
     display: table;
   }

  .clearfix:after {
     clear: both;
   }

  .clearfix {
     zoom: 1;
   }

}