// ----------------- Header Styles --------------------------

#site-header-wrapper{
  background-image: $background-image;
  font-family: $header-font-family;


  .container {
    width: $header-container-width;
    margin: 0 auto;
  }

  .site-logo {
   text-align: center;
   letter-spacing: 5px;
   margin-top: 27px;
   width: $header-logo-width;
   float: left;
   font-size: $header-logo-font-size;
   color: $header-logo-color;
   font-weight: bold;
   padding-right: 3%;
  }

  .site-logo p:first-child {
    letter-spacing: 8px;
    font-size: $header-big-logo-font-size;
    line-height: 0;
  }


  .navigation {
    width: $header-navigation-width;
    float: left;
  }

  .nav-group {
    position: relative;
    float: left;
    width: $nav-group-width;
  }

  .nav-element li {
    margin-right: 35px;
    display: inline-block;
    text-transform: uppercase;
  }

  .activiated {
    position: absolute;
    bottom: 99px;
    display: inline-block;
    margin: 0;
    border: $header-active-nav-border;
    left: -4px;
    width: 62px;
 }


 .active-color {
  color: $header-active-color !important;
 }

  .fa-search {
    color: $header-search-icon-color;
  }

  .nav-element li a {
    font-size: $nav-main-font-size;

    color: $header-nav-gray-color;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none;
   }

   .styles li {
     margin-right: 9%;
     display: inline-block;
     letter-spacing: 1px;
   }

   .styles li:nth-child(3) {
     margin-right:0;
   }

  .styles li a {
    display: inline-block;

    color: $header-nav-gray-color;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: $nav-secondairy-font-size;
    text-decoration: none;
   }

  .dropdown {
    display: inline-block;
    text-align: center;
    float: left;
    width: $nav-icons-width;
  }

  .dropdown li {
     font-size: $nav-icons-font-size;
     margin-right: 18px;
     display: inline-block;
   }

   .dropdown .needle {
     width: 25px;
     height: 22px;
    }

    .dropdown .bell {
      width: 21px;
      height: 22px;
     }

     .dropdown .basket {
       width: 20px;
       height: 21px;
      }

   .dropdown li:nth-child(4) {
      position: absolute;
      top: 15px;
   }

  .dropdown button {
    border: 0;
    font-size: $access-button-font-size;
    font-weight: bold;
    background-color: transparent;
    color: $access-button-color;
    width: 100px;
    height: 27px;
   }

   .dropdown button:hover {

      background-color: $access-button-background-color;
   }

   .linebreak {
    border: $nav-dashed-linebreak;
    width: 171%;
   }


// Clear Fix for Floats ---------
  .clearfix:before,
  .clearfix:after {
     content: "";
     display: table;
   }

  .clearfix:after {
     clear: both;
   }

  .clearfix {
     zoom: 1;
   }

}