// ----------------- Header Styles --------------------------

#site-header-wrapper{
  height: 116px;
  background: $dark-gray;
  font-family: $header-font-family;

  .container {
    width: $header-container-width;
    margin: 0 auto;
    height: inherit;
  }
}

.site-logo {
  display: block;
  height: 116px;
  float: left;
  font-weight: bold;
  width: $header-logo-width;
  color: $header-logo-color;
  background-image: $logo-image;
  background-repeat: no-repeat;

  a{
    margin: 0;
    padding: 0;
  }
}


.header-menu {
  height: 64px;
  border-bottom: 1px dashed #393d40;

    .navigation {
      position: relative;
      float: left;
      width: $nav-group-width;
    }
}

// .header-menu::before {
//   content: "fader";
//   position: absolute;
//   display: block;
//   height: 20px;
//   width: 20px;
//   background: red;
//   bottom: -10px;
//   left: -10px;
// }

//lose the bar just use border-top
// hr.activated {
//     display: none;
// }


 nav{
   float: left;
 }

.nav-primary {
 margin: 0;
 padding: 0;

  li {
    display: inline-block;
    text-transform: uppercase;
  }

  li a {
    color: $header-nav-gray-color;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 22px 33px;
    border-top: 3px solid transparent;
  }

  li>ul{
    position: absolute;
    margin: 0;
  }

  .active-color {
    color: $header-active-color !important;
    border-top-color: $ot-tech-blue;
  }

 }

  .nav-secondary {
    padding: 0;
  li {
    display: inline-block;
    letter-spacing: 1px;
  }

  li a {
    font-size: $nav-secondairy-font-size;
    color: $header-nav-gray-color;
    display: inline-block;
    border-top: none;
    padding: 18px 20px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.2;
  }
  .active-color {
      color: $header-active-color !important;
     }
  }

 .fa-search {
   color: $header-search-icon-color;
 }

.user-menu{
  height: 64px;
  float: right;

  .site-notifications{
    float: left;
    height: 64px;

    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li {
      display: inline-block;
      height: 40px;
      width: 40px;
      margin: 20px 10px 0;
      padding: 0;
      position: relative;
    }
    .saved-work {
      width: 25px;
      height: 22px;
    }

    .site-updates {
      width: 21px;
      height: 22px;
    }

    .basket {
       width: 20px;
       height: 21px;
    }

    .counter{
      background-color: $ot-tech-blue;
      font-size: $extra-small;
      border-radius: $tiny-round-corner;
      color: $ot-white;
      position:absolute;
      padding: 2px 4px;
      left: 20px;
      top: -10px;
    }

    li:nth-child(4) {
      position: absolute;
      top: 15px;
    }
    button:hover {
      background-color: $access-button-background-color;
    }
  }

  .account-access{
    float: left;
    height: 64px;

    button{
      height: 64px;
      color: $nav-gray;
      padding: 0 40px 0 40px;
      background: none;
      border: 0;
      font-weight: bold;
    }
    button:hover{
      color: white;
    }

    .dropdown{
      padding-top: 10px;
      text-align: center;
      position: absolute;
      background: white;
      right: 10px;
      width: 400px;
      height: 600px;
      clear: both;
      opacity: 0;
      transition: .4s;
      box-shadow: 4px 0px 20px rgba(0,0,0,.2);
    }

    button:hover + .dropdown {
      opacity: 1;
      transition: .4s;
    }
  }
}


.site-notifications {
    float: right;
    text-align: center;
   }
   .linebreak {
     clear: both;
     margin: 0;
     padding: 0;
    border: $nav-dashed-linebreak;
   }
