// Footer variables

$footer-width:			  100%;
$footer-width-container:  90%;
$footer-font-family:      "Roboto";
$footer-font-size:        13px;
$footer-color:            rgb(68, 78, 84);
$footer-bg-color:         rgb(230,237,242);
$footer-nav-width:        70%;
$footer-headline-width:   30%;
$nav-border-right:        1px solid rgb(68, 78, 84);


// Header variables


$background-image: url("/images/Layer 7.png");
$header-container-width: 90%;
$header-logo-width: 28%;
$header-logo-font-size: 9.36px;
$header-font-family: "Montserrat";
$header-logo-color: #a5a5a5;
$header-navigation-width: 72%;
$nav-group-width: 62%;
$header-nav-gray-color: rgb(128, 128, 128);
$header-active-color: rgb(230, 237, 242);
$header-big-logo-font-size: 14px;
$header-active-nav-border: 2px solid rgb(96, 137, 160);
$header-search-icon-color: rgb(217, 217, 217);
$nav-main-font-size: 12px;
$nav-secondairy-font-size: 10px;
$nav-icons-font-size: 14px;
$access-button-font-size: 12px;
$access-button-color: white;
$access-button-background-color: rgb(128, 128, 128);
$nav-dashed-linebreak: 0.5px dashed rgb(128, 128, 128);
$nav-icons-width: 38%;





