// Base color reference

$dark-gray:          rgb(23,25,28);
$nav-gray:           rgb(128,128,128);
$nav-gray-hover:     rgb(180,180,180);
$ot-white:    rgb(230,237,242);
$ot-tech-blue:       #6089a0; //rbg color reproduction inaccurate in my case
$ot-tech-blue-hover: rgb(86,154,90);

//Font sizes
$huge: 42px;
$regular: 14px;
$small: 12px;
$extra-small: 11px;

//border radii
$big-round-corner: 4px;
$tiny-round-corner: 2px;

// Header variables

$background-image: url("/images/Layer 7.png");
$logo-image: url("/images/logo.png");
$header-container-width: 100%;
$header-logo-width: 34%;
$header-font-family: "Montserrat";
$header-logo-color: $nav-gray;
$header-navigation-width: 70%;
$nav-group-width: 80%;
$header-nav-gray-color: rgb(128, 128, 128);
$header-active-color: rgb(230, 237, 242);
$header-big-logo-font-size: 14px;
$header-active-nav-border: 2px solid rgb(96, 137, 160);
$header-search-icon-color: rgb(217, 217, 217);
$nav-secondairy-font-size: 12px;
$nav-icons-font-size: 14px;
$access-button-font-size: 12px;
$access-button-color: white;
$access-button-background-color: rgb(128, 128, 128);
$nav-dashed-linebreak: 0.5px dashed rgb(128, 128, 128);
$nav-icons-width: 38%;


// Footer variables

$footer-width:			      100%;
$footer-width-container:  $footer-width;
$footer-font-family:      "Roboto";
$footer-font-size:        13px;
$footer-color:            rgb(68, 78, 84);
$footer-bg-color:         rgb(230,237,242);
$footer-nav-width:        70%;
$footer-headline-width:   30%;
$nav-border-right:        1px solid rgb(68, 78, 84);
