.product-item-image{
  height: 240px;
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
 }


 .product-item-content {

 	font-family: "Montserrat";
 	color: rgb(17, 17, 17);
 	float: left;
 	width: 75%;

 	.product-item-title {
 		font-size: 10px;
 		font-weight: bold;
 		margin: 0;
 	}

 	.product-item-description {
 		font-size: 9px;
 		font-weight: normal;
 	}
 }

 .product-item-price {
 	font-size: 9px;
 	font-family: "Montserrat";
 	color: rgb(17, 17, 17);
 	float: right;
 	width: 25%;
 }