.product-item-image {
	height: auto;
	margin-top: 10px;
	width: 100%;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}

.product-item-content {
	margin-left: 22px;
	text-align: center;
	margin-bottom: 5px;
	font-family: 'Montserrat';
	color: rgb(17, 17, 17);
	float: left;
	width: 75%;

	.product-item-title {
		font-size: 10px;
		font-weight: bold;
		margin: 0;
	}

	.product-color-group {
		width: 100%;
		margin: 4px 0px;


		.product-color-item {
			margin: 1px 1px;
			float:left;
			width: 23%;
			height: 7px;
		}
	}

	.product-item-description {
		font-size: 9px;
	    font-weight: bold;
	    color: #0ce4f1;
	}
}

.product-item-price {
	text-align: center;
	background-color: #f7ecec;
	font-size: 9px;
	font-family: 'Montserrat';
	color: #111111;
	float: right;
	width: 18%;
	padding-top: 5px;
	padding-bottom: 2px;
}




