/*Montserrat Regular Webfont*/

@font-face {
  font-family: 'Montserrat';
  src: url('montserrat-regular.eot'); /* IE9 Compat Modes */
  src: url('montserrat-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('montserrat-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('montserrat-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('montserrat-regular.ttf') format('truetype');  /* Safari, Android, iOS */

  font-weight: normal;
  font-style: normal;
}



/*Montserrat Bold Webfont*/

@font-face {
  font-family: 'Montserrat';
  src: url('montserrat-bold.eot');
  src: url('montserrat-bold.eot?#iefix') format('embedded-opentype'),
       url('montserrat-bold.woff2') format('woff2'),
       url('montserrat-bold.woff') format('woff'),
       url('montserrat-bold.ttf') format('truetype');

  font-weight: bold;
  font-style: normal;
}

/*Roboto Regular Webfont*/

@font-face {
  font-family: 'Roboto';
  src: url('roboto-regular.eot');
  src: url('roboto-regular.eot?#iefix') format('embedded-opentype'),
       url('roboto-regular.woff2') format('woff2'),
       url('roboto-regular.woff') format('woff'),
       url('roboto-regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

/*Roboto Bold Webfont*/

@font-face {
  font-family: 'Roboto';
  src: url('roboto-bold.eot');
  src: url('roboto-bold.eot?#iefix') format('embedded-opentype'),
       url('roboto-bold.woff2') format('woff2'),
       url('roboto-bold.woff') format('woff'),
       url('roboto-bold.ttf') format('truetype');

  font-weight: bold;
  font-style: normal;
}
